body {
    background-image: url('assets/img/editar.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    width: 400px;
    padding: 20px;
    border: 2px solid #3498db;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    margin: 0;
}

/* Estilos para el título */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los campos de entrada */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #3498db 50%, #297fb8 50%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background-position: right;
}
