body {
      background-image: url("../assets/img/R.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    background: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente */
    border: 2px solid black; /* Borde de color negro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno para el texto */
    display: inline-block; /* Evita que el fondo se extienda por toda la línea */
}
.card {
    background: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente */
    border: 1px solid black; /* Borde de color negro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno para el contenido del formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Sombra */
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Fondo negro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1; /* Inicialmente visible */
    transition: opacity 1s ease-in-out; /* Transición de opacidad durante 1 segundo */
}
.loader-wrapper.hidden {
    opacity: 0; /* Cuando está oculto, completamente transparente */
    pointer-events: none; /* No permite interacciones en el fondo oculto */
}
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.content {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}